LoanBook.Collections.Core/bin/*
LoanBook.Collections.Core/obj/*
LoanBook.Collections.Endpoint/bin/*
LoanBook.Collections.Endpoint/obj/*
LoanBook.Collections.Infrastructure/bin/*
LoanBook.Collections.Infrastructure/obj/*
LoanBook.Collections.Messaging/bin/*
LoanBook.Collections.Messaging/obj/*
LoanBook.Correspondence.Api/bin/*
LoanBook.Correspondence.Api/obj/*
LoanBook.Correspondence.Core/bin/*
LoanBook.Correspondence.Core/obj/*
LoanBook.Correspondence.Infrastructure.ExchangeMailServerProvider/bin/*
LoanBook.Correspondence.Infrastructure.ExchangeMailServerProvider/obj/*
LoanBook.Correspondence.Infrastructure/bin/*
LoanBook.Correspondence.Infrastructure/obj/*
LoanBook.Correspondence.Messaging/bin/*
LoanBook.Correspondence.Messaging/obj/*
LoanBook.CustomerRelationshipManagement.Core/bin/*
LoanBook.CustomerRelationshipManagement.Core/obj/*
LoanBook.CustomerRelationshipManagement.Endpoint/bin/*
LoanBook.CustomerRelationshipManagement.Endpoint/obj/*
LoanBook.CustomerRelationshipManagement.Infrastructure/bin/*
LoanBook.CustomerRelationshipManagement.Messaging/bin/*
LoanBook.CustomerRelationshipManagement.Infrastructure/obj/*
LoanBook.CustomerRelationshipManagement.Messaging/obj/*
LoanBook.CustomerServices.Site/bin/*
LoanBook.CustomerServices.Site/obj/*
LoanBook.DepositGateway.Endpoint/bin/*
LoanBook.DepositGateway.Endpoint/obj/*
LoanBook.DepositGateway.Messaging/obj/*
LoanBook.DepositGateway.Messaging/bin/*
LoanBook.Endpoint/bin/*
LoanBook.Endpoint/obj/*
LoanBook.Financial.Core/bin/*
LoanBook.Financial.Core/obj/*
LoanBook.Financial.Endpoint/bin/*
LoanBook.Financial.Endpoint/obj/*
LoanBook.Financial.Infrastructure/bin/*
LoanBook.Financial.Infrastructure/obj/*
LoanBook.Financial.Messaging/bin/*
LoanBook.Financial.Messaging/obj/*
LoanBook.Fraud.Core/bin/*
LoanBook.Fraud.Core/obj/*
LoanBook.Fraud.Endpoint/bin/*
LoanBook.Fraud.Endpoint/obj/*
LoanBook.Fraud.Infrastructure/bin/*
LoanBook.Fraud.Infrastructure/obj/*
LoanBook.Fraud.Messaging/bin/*
LoanBook.Fraud.Messaging/obj/*
LoanBook.Infrastructure/bin/*
LoanBook.Infrastructure/obj/*
LoanBook.LeadBrokering.Endpoint/bin/*
LoanBook.LeadBrokering.Endpoint/obj/*
LoanBook.LeadBrokering.Messaging/bin/*
LoanBook.LeadBrokering.Messaging/obj/*
LoanBook.LoanManagementSystem/bin/*
LoanBook.LoanManagementSystem/obj/*
LoanBook.Messaging/bin/*
LoanBook.Messaging/obj/*
LoanBook.Origination.Core/bin/*
LoanBook.Origination.Core/obj/*
LoanBook.Origination.Endpoint/bin/*
LoanBook.Origination.Endpoint/obj/*
LoanBook.Origination.Infrastructure/bin/*
LoanBook.Origination.Infrastructure/obj/*
LoanBook.Origination.Messaging/bin/*
LoanBook.Origination.Messaging/obj/*
LoanBook.PaymentGateway.Api/bin/*
LoanBook.PaymentGateway.Api/obj/*
LoanBook.PaymentGateway.Endpoint/bin/*
LoanBook.PaymentGateway.Endpoint/obj/*
LoanBook.PaymentGateway.Messaging/bin/*
LoanBook.PaymentGateway.Messaging/obj/*
LoanBook.ProductConfiguration.Endpoint/bin/*
LoanBook.ProductConfiguration.Endpoint/obj/*
LoanBook.ProductConfiguration.Messaging/bin/*
LoanBook.ProductConfiguration.Messaging/obj/*
obj/*
LoanBook.Api/bin/*
LoanBook.Api/obj/*
LoanBook.Correspondence.Endpoint/bin/*
LoanBook.Correspondence.Endpoint/obj/*
