@{
    ViewBag.Title = "Home Page";
}

<div ng-app="myApp" class="row">
    <div class="col-md-4">
        <h2>Origination</h2>
        <p>
            <input id="guid" type="text" value="@Guid.NewGuid().ToString()" />
            <input id="submitApplication" type="button" value="Submit application"/>
            <input id="signLoan" type="button" value="sign loan" />
        </p>
    </div>
    <div class="col-md-4">
        <input id="sendRegisterCashPaymentCommand" type="button" value="send register cash payment command"/>
        <input id="collectDebt" type="button" value="Collect debt"/>
        <input id="signalr" type="button" value="signalr callback"/>
    </div>
    <div class="col-md-4" ng-controller="homeController">
        @using (Html.BeginForm())
        {
            <input type="submit" value="login" />
        }
        <a href="/home/secured">secured</a>
    </div>
</div>

<div>
    <input type="button" id="changeCardFrame" value="change card frame" />
    <iframe id="cardFrame" src="@ViewBag.IFrameUrl"></iframe>
    
</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script>
    $(function() {
        $('#submitApplication').on('click', function() {
            $.ajax({ url: '/api/origination', type: 'POST', data: { "id": $('#guid').val() } });
        });
        $('#collectDebt').on('click', function() {
            $.ajax({ url: '/home/collectdebt' });
        });
        $('#signalr').on('click', function() {
            $.ajax({ url: '/home/signalr' });
        });
        $('#signLoan').on('click', function() {
            $.ajax({ url: '/home/signloan' });
        });
        $('#sendRegisterCashPaymentCommand').on('click', function() {
            $.ajax({ url: '/home/sendRegisterCashPaymentCommand' });
        });

        $('#changeCardFrame').on('click', function () {
            var frame = document.getElementById('cardFrame');
            frame.src = frame.src + "#submit";
        });
    });
</script>